/* Aşağıdaki css'ler sadece "Modal.js" ile "Modal" component'i için kullanılacağından "Modal.css"i oluşturduk. */
/* NOT "modal.css" gibi, Component'a özel oluşturduğumuz css dosyaları da aslında "GLOBAL"dır. React tarafından <head> içerisine <style> olarak eklenirler. ve Bu sebepten örneğin burada bir element'e css verirsek uygulamadaki tüm elementleri etkiler. Bunun üstesinden gelmenin en güvenli yolu component içerisindeki "parent" element'e class vermek, o class üzerinden değişiklikleri yapmaktır. */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal {
  padding: 30px;
  max-width: 480px;
  margin: 200px auto;
  background: #fff;
  border-radius: 10px;
}

.modal h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
